/* CÓDIGO BÁSICO */


/* Cargando reset */

@import url(reset.css);

/* Cargando fuentes */

@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&display=swap');

/* FUENTES */
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Handlee', cursive;
font-family: 'Freehand', cursive;
/*

/* COLORES */
/*
color rojo: #fa573a;
color azul: #21242e;
*/

/*************************************/

/* Box Sizing reset */


*{
    box-sizing: border-box;
}

/* Declarando fuente */

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 1em;
}

/*************************************/


/* FLOTACIONES */

/* Siempre que vayamos a realizar flotaciones, debemos marcar al contenedor de dichas flotaciones con un row:after */
/* row:after hace una barrera después (por eso after) para que las flotaciones no se salgan de ese contenedor */

.row:after {
    clear: both;
    content: "";
    height: 0;
    display: block;
}


img {
    width: 100%;
    height: auto;
    display: block;
}

/*************************************/
/*************************************/

/* ESTILOS DE ELEMENTOS DE LA PÁGINA */




/**************************************************************************/
/*********************** Barra gris - Inicio Header ***********************/
/**************************************************************************/



/************ Container y Container fluid ************/
/* Container fluid llega al 100% del ancho del dispositivo */
/* Container sirve para realizar el encorsetado */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3%;
}

.container-fluid {
    width: 100%;
}

header .nav_top {
    background-color: #21242e;
    color: white;
    padding: 20px 0;
}

header .nav_top .container div {
    float: left;
    width: 25%;
}

header .nav_top .container div a {
    color: white;
    text-decoration: none; /* text-decoration: none ---> para resetear estilo */
    font-size: 150%;
}

header .nav_top a span {
    display: none;
}

header .nav_top a i {
    color: #fa573a;
}

header .nav_top .container div:nth-child(3), header .nav_top .container div:last-child {
    text-align: right;
}


/*************************************/

/* Inicio Nav */

header nav {
    padding: 20px 3%;
    
}

header .hamburguesa {
    cursor: pointer;
    float: right;
}

header .hamburguesa div {
    border-top: 2px solid #aaa;
    width: 1.875em;
    /* me separo con margin, me doy aire con padding */
    margin-bottom: 0.625em;
    }

header nav .logo {
    width: 100px;
    float: left;

}

header nav .menu {
    padding-top: 70px;
}

header nav .menu li {
    padding: 1.250em;
    text-align: center;
    border-bottom: 1px solid #aaa; 
}

header nav .menu li:last-child {
/* Sobreescribimos la regla anterior para quitar la línea al last child */
border: 0px;
}

header nav .menu li a {
    text-decoration: none;
    color: #aaa;
    display:block;
}


header nav .menu li a.activo, header nav .menu li a:hover {
    color: #fa573a;
}

/*************************************/


/*************************************/
/*************************************/

/* Main */

main {
    background-color: rgb(36, 35, 35);
    color: white;
}

main section.container {
    padding: 50px 3%;
}

main section h2.titl {
    color: white;
    font-family: 'handlee', cursive;
    font-size: 200%;
    text-align: center;
}

main section h2.titl span {
    color: #fa573a;
}


/* Linea con la X */

main section .underline {
    position: relative;
    width: 200px;
    margin: 0 auto;
}

main section .underline hr {
    border-color: #fa573a;
    position: absolute;
    /* Al poner algo en posición absoluta, sale de su contenedor, por lo que necesitamos una medida para que aparezca */
    width: 100%;
    top: -1px;
}

main section .underline span {
    display: block;
    text-align: center;
    color: #fa573a;
    font-weight: 700;
}

/*************************************/

/** MENU LIST **/

main .menulist {
    padding-top: 10px;
}

main .menulist li {
    
    text-align: left;
    font-weight: 700;
}

main .menulist li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display:block;
    padding: 20px;
}

/*main .menulist li a.activo,*/ main .menulist li a:hover {
    background-color: #fa573a;
}

/************************************/
/* Little Title - Today´s Crazy Offers*/

main{
    padding: 30px;
}
main div section .titlelittle{
    padding-top: 100px;
}

main div section .titlelittle h2{
    font-weight: 700;
    color: white;
}

main div section .titlelittle hr{
    border-color: #fa573a;
    /*position: absolute;/*
     /*Al poner algo en posición absoluta, sale de su contenedor, por lo que necesitamos una medida para que aparezca*/
    width: 20%;
    top: -1px;
    margin-left: 0;
}

main div section .titlelittle p{
    padding: 4px;
}


/************************************/
/************************************/

/* Articles */

main div section h3{
    padding: 20px 0;
    font-weight: bold;
}

main div section p strong{
    padding: 20px;
    color: #fa573a;
    font-weight: bold;
    float: right;
    
}

main div section p{
    padding-bottom: 20px;
    
}

/* Botón */

main div section .boton {
    text-decoration: none;
    display: inline-block;
    padding: 1.15em;
    margin: 1em 0;
    color: #fa573a;
    border: 1px transparent #fa573a;
    transition: 1s;
    background-color: transparent;

}

main div section .boton:hover {
    color: white;
    background-color:#fa573a;

}

main div section .boton:hover i {
    transform: translateX(5px);
    transition: transform 1s;
    /* Podemos elegir a qué reglas en concreto afecta el transition */
}

main div section img{
    margin: 20px 0;
}


/*************************************/
/* Copyright */

footer {

    background-color: #21242e;
    padding: 1.825em 0;
}

footer p {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}


/*******************************************************/
/*********************MEDIA QUERIES*********************/
/*******************************************************/


/* Esta web está hecha en mobile-first */


/* Primer Breakpoint */
/* Mobil grande / Tablet pequeña */

@media(min-width: 48.063em)
{
    header .nav_top a span {
        display: inline;
        font-size: 50%;
    }

}

/* Segundo Breakpoint */
/* Tablet / Pantalla Pequeña */

@media(min-width: 62.750em)
{
    header .hamburguesa {
        display: none;
        float: none;
    }

    header nav .menu {
        float: right;
    }

    header nav .menu li {
        display: inline-block;
        padding: 0.5em 1.250em;
        text-align: left;
        border-bottom: 0px; 
    }

    header nav .menu:last-child {
        padding: 0;
    }
}


/* Tercer Breakpoint */

@media(min-width: 75.0625em)
{
 .container01{
     width:30%;
     display: inline-block;
 }
 .container02{
    width:20%;
    display: inline-block;
}
}